In [2]:
import os
import numpy as np 
import pandas as pd
from tqdm import tqdm

# 1. 트위터 데이터 정제하기

In [3]:
file_path = '/Users/parkjunhyeong/Desktop/박준형/02. 대내 및 대외활동/01. 대내활동/03. Biz&AI 랩/02. 소스/01. 데이터/03. 트위터 데이터/03. Selected Data'
save_path = '/Users/parkjunhyeong/Desktop/박준형/02. 대내 및 대외활동/01. 대내활동/03. Biz&AI 랩/02. 소스/01. 데이터/03. 트위터 데이터/04. Selected Data'

In [4]:
l1 = os.listdir(file_path)
l2 = os.listdir(save_path)
l1 = [l for l in l1 if l not in l2]
l1

['HOG.csv', 'WE.csv', 'GM.csv', 'PINS.csv', 'NVDA.csv', 'CLX.csv', 'TMUS.csv']

In [41]:
f = 'WE.csv'
data_types = {'datetime' : 'str',
             'content' : 'str',
             'username' : 'str'}

df = pd.read_csv( file_path + '/' + f, index_col = 0, dtype = data_types)

In [42]:
df

,datetime,content,username
0,2018-01-01 00:45:15+00:00,3 Skills Every Content Marketer Needs https://...,TheRyanRobinson
1,2018-01-01 01:56:01+00:00,My IG #bestnine2017 featuring cherry blossoms ...,ijeomasnwatu
2,2018-01-01 09:29:19+00:00,Quiet evening celebrating #NewYearsEve2018 at ...,TheJenAmos
3,2018-01-01 14:01:19+00:00,@WeWork Let’s rock it!,davidricca
4,2018-01-01 14:02:43+00:00,Here's our first #FemforceFave for 2018. @WeWo...,eileenbchen
...,...,...,...
170391,2022-10-11 20:02:17+00:00,@WeWork @object0riented i love you too but lem...,sanjimu_
170392,2022-10-11 20:02:40+00:00,@sanjimu_ @WeWork wait same tho,object0riented
170393,2022-10-11 20:16:05+00:00,Did you know that @aloyoga @AnheuserBusch and ...,TheBus37643251
170394,2022-10-11 20:53:28+00:00,".@WeWork is now marketing its 457,000-square-f...",trdsocal
170395,2022-10-11 21:06:40+00:00,@trdsocal @WeWork @MattN365 Why rent physical ...,marketplunger1

In [43]:
df.dropna(inplace = True)
df.drop_duplicates(inplace = True, subset = ['content', 'username'])#도배 게시물 제거
#df = df[df['username'].apply(lambda x : 'MS' not in x)]
df.sort_values('datetime', inplace = True)
df.reset_index(inplace = True, drop = True)

In [44]:
df

,datetime,content,username
0,2018-01-01 00:45:15+00:00,3 Skills Every Content Marketer Needs https://...,TheRyanRobinson
1,2018-01-01 01:56:01+00:00,My IG #bestnine2017 featuring cherry blossoms ...,ijeomasnwatu
2,2018-01-01 09:29:19+00:00,Quiet evening celebrating #NewYearsEve2018 at ...,TheJenAmos
3,2018-01-01 14:01:19+00:00,@WeWork Let’s rock it!,davidricca
4,2018-01-01 14:02:43+00:00,Here's our first #FemforceFave for 2018. @WeWo...,eileenbchen
...,...,...,...
115438,2022-10-11 20:02:17+00:00,@WeWork @object0riented i love you too but lem...,sanjimu_
115439,2022-10-11 20:02:40+00:00,@sanjimu_ @WeWork wait same tho,object0riented
115440,2022-10-11 20:16:05+00:00,Did you know that @aloyoga @AnheuserBusch and ...,TheBus37643251
115441,2022-10-11 20:53:28+00:00,".@WeWork is now marketing its 457,000-square-f...",trdsocal
115442,2022-10-11 21:06:40+00:00,@trdsocal @WeWork @MattN365 Why rent physical ...,marketplunger1

In [45]:
print(df.iloc[-1,1])
print(type(df.iloc[0,0]))

@trdsocal @WeWork @MattN365 Why rent physical space when you can rent in the Metaverse?
<class 'str'>

In [46]:
df.to_csv(save_path + '/' + f)

In [10]:
#df[df['content'].apply(lambda x: x.count('@') == 1)]